.ThirdSectionWrapper{
    text-align: center;
    background-color: #242424;
}


.donosdaRazor{
    margin-top: 20px;
    width: 40%;
    height: auto;
    margin-bottom: 10%;
}
.logos{
    margin-bottom: 10%;
    width: 40%;
    height: auto;
}